*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 3vh;
    background-color: black;
    color: white;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    
   
    
}

#headpara{
    margin: auto ;
}
